{% extends 'base.html' %}
{% block content %}

<div class='col-3'>
    <form id='id_password_change_form' method='post' class='form-signin mb-3'>
        {% csrf_token %}
        <h3>Slaptažodžio keitimas</h3>
        <input name='old_password' id='id_old_password' class='form-conrol mb-3' placeholder='Dabartinis slaptažodis' type="password" required='true' />
        <input name='new_password1' id='id_new_password1' class='form-conrol mb-3' placeholder='Naujas slaptažodis' type="password" required='true' />
        <input name='new_password2' id='id_new_password2' class='form-conrol mb-3' placeholder='Pakartoti naują slaptažodį' type="password" required='true' />
        
        {% for field in form %}
            {% for error in field.errors %}
                <p style='color: red'>{{error}}</p>
            {% endfor %}
        {% endfor %}

        <button class='btn btn-primary' id='id_submit_btn' type='submit'>Pakeisti slaptažodį</button>
    </form>
</div>

{% endblock content %}